@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');


body {
    --text64_34:calc(34px + (64 - 34) * ((100vw - 360px) / (1920 - 360))); /*h1*/
    --text40_26:calc(26px + (40 - 26) * ((100vw - 360px) / (1920 - 360))); /*subtitle*/
    --text20_18:calc(20px + (20 - 18) * ((100vw - 360px) / (1920 - 360))); /* section title (h2) */

    /*weeks special categories 16px weight 900*/

    /*card title 18px bold*/ 
    /* card text 16px  */
    /* card price 16px medium  */
    /*titles Markazi Regular*/
    /*text Karla Regular*/

    --pr-green: #495e57;
    --pr-yellow: #f4ce14;
    --sec-pink: #ee9972;
    --sec-rose: #fbdabb;
    --high-white: #edefee;
    --high-black: #333333;

    --pr-green-glass: rgba(73,94,87,0.65);
    --sec-rose-glass: rgba(251,218,187,0.65);
    --high-white-glass: rgba(237,239,238,0.65);
}

h1,h2,h3,h4,h5,h6,p,span,a,li {
    margin: 0 0;
    padding: 0 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
}

p, span, a {
    font-family: "Karla", sans-serif;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    height: auto;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: var(--sec-rose-glass);
}

nav {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu__list {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.menu__point {
    display: block;
    padding: 0 15px;
}

.menu__link {
    display: block;
    font-size: 20px;
    line-height: 1.4em;
    color: var(--pr-green);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.menu__link:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 2px;
    background-color: var(--pr-green);
    transition: 750ms;
    position: absolute;
    bottom: 0;
    left: 0;
}
.menu__link:hover:after {
    width: 100%;
    transition: 750ms;
}

.reserve, .button {
    display: block;
    padding: 10px 20px;
    border-radius: 16px;
    background-color: var(--pr-green);
    color: var(--pr-yellow);
    border-width: 0;
    font-size: 16px;
    line-height: 1.5em;
}

.button:hover,
.button:focus,
.reserve:hover,
.reserve:focus {
    color: var(--pr-green);
    background-color: var(--pr-yellow);
}

.button:active,
.reserve:active {
    box-shadow: 3px 3px 5px 5px var(--pr-green);
}

/*mobmenu*/

.mobmenu__hidden {
    display: inline-flex;
}

.mob__menu__button {
    display: none;
    width: 30px;
    height: 2px;
    background-color: var(--pr-green);
    position: relative;
    border-width: 0;
}

.mob__menu__button:before {
    content: '';
    display: none;
    width: 30px;
    height: 2px;
    background-color: var(--pr-green);
    position: absolute;
    top: -8px;
    left: 0;
}

.mob__menu__button:after {
    content: '';
    display: none;
    width: 30px;
    height: 2px;
    background-color: var(--pr-green);
    position: absolute;
    top: 8px;
    left: 0;
}

.mob__menu__button.opened {
    background-color: transparent;
}
.mob__menu__button.opened:before {
    transform: rotate(45deg) translate3d(5px, 5px, 0px);
}
.mob__menu__button.opened:after {
    transform: rotate(-45deg) translate3d(5px, -5px, 0px);
}

/*main*/

.container {
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

main>section {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 100px 0;
    box-sizing: border-box;
}

.intro {
    background: url('./img/intro.webp') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: greyscale(5);
}
.promo {
    background: url('./img/menu.webp') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.menu {
    background: url('./img/about.webp') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.contact {
    background: url('./img/contact.webp') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.intro__wrapper {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.intro__block {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 60px;
    box-sizing: border-box;
    background-color: var(--pr-green);
    border-radius: 16px;
}

.intro__block-title,
.intro__block-subtext {
    width: 500px;
}

.main__title {
    font-size: var(--text64_34);
    line-height: 1em;
    color: #F4CE14;
    text-align: left;
}

.subtitle {
    font-size: var(--text40_26);
    line-height: 1em;
    color: #fff;
    text-align: left;
}

.subtext {
    font-size: 16px;
    line-height: 1.4em;
    color: #fff;
    text-align: left;
    word-wrap: break-word;
}

/* promo-title */

.promo__title {
    display: flex;
    justify-content: space-between;
}

.section__title {
    font-size: var(--text40_26);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.5em;
    color: var(--pr-green);
    display: inline-block;
    padding: 15px;
    background-color: var(--high-white-glass);
    border-radius: 16px;
}

.section__subtitle {
    font-size: 20px;
    line-height: 1.2em;
    color: #757575;
}

.promo__title button {
    display: block;
    padding: 10px 20px;
    border-radius: 16px;
    background-color: var(--pr-green);
    color: var(--pr-yellow);
    border-width: 0;
    font-size: 16px;
    line-height: 1.5em;
}

.promo__title button:hover,
.promo__title button:focus {
    color: var(--pr-green);
    background-color: var(--pr-yellow);
}

.promo__title button:active {
    box-shadow: 3px 3px 5px 5px var(--pr-green);
}

/*promobox*/

.promo__boxgallery {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promobox {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
}

.promobox__image {
    width: 100%;
    height: 150px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.promo__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.promobox__description {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 15px;
    background-color: rgb(140, 140, 140);
    gap: 30px;
    box-sizing: border-box;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.promobox__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promobox__title {
    font-size: 18px;
    line-height: 1.4em;
    color: var(--high-black);
}

.promobox__price {
    font-size: 16px;
    line-height: 1.2em;
    color: var(--sec-rose);
}

.promobox__text {
    font-size: 16px;
    line-height: 1.2em;
    color: #fff;
}

.promobox__description button {
    display: block;
    padding: 10px 20px;
    border-radius: 16px;
    background-color: var(--pr-green);
    color: var(--high-white);
    border-width: 0;
    font-size: 16px;
    line-height: 1.5em;
}

.promobox__description button:hover,
.promobox__description button:focus {
    color: var(--pr-green);
    background-color: var(--pr-yellow);
}

.promobox__description button:active {
    box-shadow: 3px 3px 5px 5px var(--pr-green);
}

/*menubox gallery*/

.menubox__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.menu__title {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*menubox__gallery*/

.menubox__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    box-sizing: border-box;
    width: 400px;
    background-color: var(--pr-green);
    border-radius: 16px;
    gap: 30px;
}

.menuboxgallery__title {
    font-size: 18pt;
    line-height: 1.4em;
    font-weight: 900;
    color: var(--high-white);
}

/*menubox*/

.menubox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menubox__unit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.menubox__image__wrapper {
    width: 20%;
}

.menubox__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.menubox__description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.menubox__title {
    font-size: 20px;
    line-height: 1.2em;
    color: #F4CE14;
}
.menubox__price {
    font-size: 16px;
    line-height: 1.2em;
    color: #fff;
}


/*contact__wrapper*/


.contact__wrapper {
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.contact__title,
.contact__subtitle {
    text-align: center;
}


form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    width: 600px;
    padding: 50px;
    background-color: #fffb;
    border-radius: 16px;
    box-sizing: border-box;
}

input:not([type='checkbox']),
textarea,
label {
    width: 100%;
}

input {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 16px;
    border: 0.5px solid #000;
    box-sizing: border-box;
    margin-top: 10px;
}

input::placeholder,
textarea::placeholder {
    color: #aaaaaa;
    opacity: 0.75;
}

textarea, select {
    display: block;
    padding: 10px 15px;
    border-radius: 16px;
    box-sizing: border-box;
}

input[type='submit'] {
    width: auto;
    margin: 0 auto;
}

label[for="your_date"],
label[for="your_time"],
label[for="your_occassion"],
label[for="your_place"] {
    display: inline-block;
    width: 48%;
}

select {
    margin-top: 10px;
    width: 100%
}

/*footer*/

footer {
    background-color: var(--sec-rose-glass);
}

.footer__logo {
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}

.footer__wrapper {
    display: block;
    padding: 15px 0;
    box-sizing: border-box;
}

footer h2 {
    display: block !important;
    margin: 0 auto;
    text-align: center;
}

/*popup*/

#mypopup.popup {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 16px;
    border:1px solid var(--high-black);
    background-color: #fffb;
    overflow: hidden;
}

#mypopup:popover-open {  
    width: 100%;
    height: auto;
    opacity: 1;
    top: 0;
    left: 0;
}

@starting-style {
    #mypopup:popover-opeytgg {
        opacity: 0;
    }
}
.popup__wrapper {
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fffb;
    border-radius: 16px;
    height: -webkit-fill-available;
}

.popup .section__title,
.popup .section__subtitle {
    margin: 0 auto;
    padding: 0 0;
    background-color: transparent;
}

.close__popup {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    border-radius: 100px;
    color: var(--pr-green);
    border: 1px solid var(--pr-green);
}

.close__popup:hover {
    color: var(--high-white);
    border: 1px solid var(--high-white);
    background-color: var(--pr-green);
}

.popup form {
    gap: 10px;
    padding: 15px;
}

form input[type='submit']:focus,
form input[type='submit']:hover {
    background-color: var(--pr-green);
    color: var(--high-white);
}

form input:focus,
form input:active {
    box-shadow: 3px 3px 5px 5px var(--pr-green-glass);
}

#deliverypopup {
    border-radius:16px;
    padding:15px;
}

@media screen and (max-width: 1200px) {
    nav {
        max-width: 100vw;
        width: 100%;
        margin: 0 auto;
        padding: 15px 50px;
        box-sizing: border-box;
    }
    .container {
        max-width: 100vw;
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .promo__boxgallery {
        flex-wrap: wrap;
        gap: 20px;
    }
    .promobox {
        width: 45%;
    }
    form {
        width: 100%;
    }
    
    .intro__block-title, .intro__block-subtext {
        width: auto;
    }

    main>section {
        height: auto;
    }

}

@media screen and (max-width: 989px) {
    .mobmenu__hidden {
        display: none
    }
    .mob__menu__button,
    .mob__menu__button:before,
    .mob__menu__button:after {
        display: block;
    }
    #navmenu.menu__list {
        width: 100%;
        height: auto;
        opacity: 1;
        margin-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--high-white);
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .mobmenu__hidden {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
    }
}

@media screen and (max-width: 589px) {
    nav {
        padding: 15px 25px;
    }

    .container {
        padding: 0 25px;

    }

    .promo__title {
        flex-direction: column;
        gap: 20px;
    }

    .promobox {
        width: 100%;
    } 
    form {
        padding: 10px;
    }
    input {
        margin-top: 5px;
    }
    .footer__logo {
        margin-bottom: 15px;
    }
}